<app-slider></app-slider>  
<div class="container" style="margin-top: 150px;">
	<div class="row">
		<div class="card border-success ">

			<div class="card-body  ">
				<h4 class="card-title text-success">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Registro de Vacunación para el Covid-19 en el Ecuador
					
				</h4>

				<div style="margin-top:20px">
					<p>
						Ecuador no produce la vacuna contra la COVID 19, motivo por el cual, y conforme con la llegada de las dosis de vacunas negociadas por el Gobierno Nacional se desarrolla la vacunación de forma progresiva y priorizando las dosis bajo el criterio de riesgo (exposición) y mortalidad (grupos de mayor incidencia de muerte por número de contagios). La  vacuna  contra  la  COVID-19  es  un  factor  fundamental  para  reducir  el  impacto de  esta  enfermedad,  la  administración  de  esta  vacuna  debe  responder  a  un  Plan Nacional  de  Vacunación  e  Inmunización,  avalado  por  los  entes  regulatorios  de  la salud  y  que  abarque  a  todos  los  segmentos  de  la  población,  en  los  cuales  su efectividad  está  comprobada.
					</p>
					<p>
						Nuestra Aplicación Web esta diseñada para hacer consultas SPARQL a una ontología dedicada al 
						<b>registro de vacunación</b>, es capaz de filtrar características específicas con un alto nivel de complejidad. Está desarrollada en
						<b>C#</b> y
						<b>Angular</b>, utilizando Protegé para crear la Ontología en
						<b>OWL</b> y un servidor creado en
						<b>Apache Jena Fuseki</b>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<app-autores></app-autores>